body {
    margin: 0;
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Cairo', sans-serif;
}

.form-container {
    text-align: center;
}

input, .btn {
    display: block;
    width: 300px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input {
    background: #333;
    color: white;
}

.btn {
    background: #B17F06;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.btn:hover {
    background: #8a6504;
}
